@model SuperMarketComparison.Models.ItemStorePrice

@{
    ViewData["Title"] = "Create";
}

<h3>New Store Price for item: <strong>@Model.Item?.Name</strong></h3>
<p class="text-muted">
    If the store you want to add a price for isn`t showing up, you probably have already added a price for it.
    <br />
    If so, please use the <span class="btn btn-sm btn-info text-white">Edit</span> or <span class="btn btn-sm btn-primary">Update</span> 
    options for editing or updating the store price for that Item.
</p>

<div class="container">
    <form class="col-6" asp-action="Create" asp-route-id="@Model.ItemId" method="post">
        <input type="hidden" asp-for="ItemId" />

        <div class="form-group">
            <label for="StoreId">Store</label>
            <select asp-for="StoreId" class="form-control" asp-items="ViewBag.storeList">
                <option value="">-- Select Store --</option>
            </select>
        </div>

        <div class="form-group">
            <label for="Price">Price</label>
            <input type="number" class="form-control" asp-for="Price" step="0.01" />
        </div>

        <div class="form-group">
            <label for="LastUpdate">Date</label>
            <input type="date" class="form-control" asp-for="LastUpdate" required />
        </div>

        <div class="mt-2">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a asp-controller="Items" asp-action="Details" asp-route-id="@Model.ItemId" class="btn btn-secondary">Back</a>
        </div>
    </form>
</div>
