@model SuperMarketComparison.Models.ItemStorePrice

@{
    ViewData["Title"] = "Delete";
}

<h3>Are you sure you want to delete the Store Price for this Item?</h3>

<p>@Model.Store.Name</p>
<p>@Model.Price.ToString("N2") €</p>
<p>@Model.LastUpdate.ToString("dd-MM-yyyy")</p>

<div class="mt-2">
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" class="btn btn-danger" value="Delete" />
        <a asp-controller="Items" asp-action="Details" asp-route-id="@Model.ItemId" class="btn btn-secondary">Back</a>
    </form>
</div>
