@model SuperMarketComparison.Models.ItemStorePrice

@{
    ViewData["Title"] = "Edit";
}

<h3>Edit Store Price</h3>

<div class="mt-2">
    <a asp-controller="Items" asp-action="Details" asp-route-id="@Model.ItemId" class="btn btn-secondary">Back</a>
</div>