@model SuperMarketComparison.Models.ItemStorePrice

@{
    ViewData["Title"] = "Edit";
}

<h3>Edit Store Price</h3>

<p class="text-secondary">
    This action will change the current item settings in case of a mistake with the initial inputs. <br />
    Note that this option WILL NOT change the "Date" or "Last Updated Date". <br />
    If the item price was updated, please select the <strong class="btn btn-primary">"Update"</strong> Button.
</p>

<div class="mt-2">
    <a asp-controller="Items" asp-action="Details" asp-route-id="@Model.ItemId" class="btn btn-secondary">Back</a>
</div>